# sudo cp systemd/kiln-controller.service /etc/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl enable kiln-controller
# sudo systemctl start kiln-controller

[Unit]
Description=kiln-controller

[Service]
WorkingDirectory=/home/pi/kiln-controller
ExecStart=/home/pi/kiln-controller/venv/bin/python /home/pi/kiln-controller/kiln-controller.py

[Install]
WantedBy=multi-user.target
